<mat-toolbar class="header">
    <span>
        <a [routerLink]="['']">
            <img class="header__logo" src="../../../../assets/img/itau-bba-logo.png" alt="Logo Itau BBA">
        </a>
    </span>
    <nav>
        <ul>
            <li>
                <span class="language">PT</span>
            </li>
            <li>
                <div class="photo-container">
                    <div class="photo"></div>
                    <div class="user">
                        <small class="mat-small user-name">John Doe</small>
                        <small class="mat-small user-office">Diretor Itaú BBA</small>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</mat-toolbar>