<div class="container">
    <mat-card-subtitle>Detalhes do Endereço</mat-card-subtitle>
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" name="cep" mask="00-000-000">
            <mat-error *ngIf="form.controls.cep.invalid">O CEP é obrigatório!</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Nome da Rua</mat-label>
            <input matInput formControlName="street" name="street">
            <mat-error *ngIf="form.controls.street.invalid">O nome da rua é obrigatório!</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="neighborhood" name="neighborhood">
            <mat-error *ngIf="form.controls.neighborhood.invalid">O bairro é obrigatório!</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="state" name="state">
            <mat-error *ngIf="form.controls.state.invalid">O estado obrigatório!</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="city" name="city">
            <mat-error *ngIf="form.controls.city.invalid">A cidade é obrigatória!</mat-error>
        </mat-form-field>
    </form>
</div>