.container
  padding: 6vh 10vh 14vh 14vh

.head
  display: grid
  grid-area: header
  grid-template-columns: 1fr auto
  align-items: center
  justify-content: center

.input-search
  border: none

.table
    width: 100%

.mat-subheading-1
  margin-top: -3vh

.eye-icon
  cursor: pointer

.active
  height: 10px
  width: 10px
  background-color: green
  border-radius: 50%
  display: inline-block
  margin-left: 2.5vh

.inactive
  height: 10px
  width: 10px
  background-color: red
  border-radius: 50%
  display: inline-block
  margin-left: 2.5vh
